input,button.select{
  outline: none;
  &:focus,&:visited,&:active{
    outline: none;
  }
}
button:hover{
  background: #46b9ab!important;
  color: #fff!important;
}
.menu{
  width:180px;
  height:100%;
  background:#333333;
  position: fixed;
  left:0;
  top:0;
  padding-bottom: 20px;
  overflow: visible!important;
  z-index: 99;

  .inner{
    width:100%;
    height:100%;
    position: relative;
    overflow: visible!important;

    .jt-btn{
      position: absolute;
      top:50%;
      right:-16px;
      width:16px;
      height: 82px;
      margin-top:-41px;
      background: url("../images/jt_bg.png");
      .left-show{
        .left-jt{
          display: block;
        }
        .right-jt{
          display: none;
        }
      }
      .right-show{
        .left-jt{
          display: none;
        }
        .right-jt{
          display: block;
        }
      }

      a{
        display: inline-block;
        width:100%;
        height: 100%;
        img{
          width:6px;
          height: 12px;
          display: block;
          margin:35px 5px;
        }
      }
    }

    .logo{
      width:100%;
      height: 120px;
      a{
        display: inline-block;
        width:100%;
        height:120px;
        //background: #2D2D2D;
        .img-big{
          display: block;
          width:144px;
          height: 77px;
          margin:21px auto;
        }
        .img-small{
          display: none;
          width:60px;
          height: 60px;
          margin:30px auto;
        }
      }
    }

    .menu-nav{
      width:100%;
      .menu-icon1{
        display: inline-block;
        float: left;
        height: 50px;
        width: 50px;
        background: url("../images/mbig1.png") no-repeat center;
        background-size:35px 35px;
      }
      .menu-icon2{
        display: inline-block;
        float: left;
        height: 50px;
        width: 50px;
        background: url("../images/mbig2.png") no-repeat center;
        background-size:35px 35px;
      }
      .menu-icon3{
        display: inline-block;
        float: left;
        height: 50px;
        width: 50px;
        background: url("../images/mbig3.png") no-repeat center;
        background-size:35px 35px;
      }
      .menu-icon4{
        display: inline-block;
        float: left;
        height: 50px;
        width: 50px;
        background: url("../images/mbig4.png") no-repeat center;
        background-size:35px 35px;
      }
      .menu-icon5{
        display: inline-block;
        float: left;
        height: 50px;
        width: 50px;
        background: url("../images/mbig5.png") no-repeat center;
        background-size:35px 35px;
      }
      .nav-control{
        width:100%;
        .nav-name{
          width: 100%;
          height: 50px;
          overflow: hidden;
          a{
            width:100%;
            height: 100%;
            font:400 16px/50px "Microsoft Yahei";
            color: #dcdcdc;
            padding-left: 15px;
            span{
              font-size: 25px;
              padding:0 5px;
            }
            b{
              font-weight:400;
              display: inline-block;
            }
            i{
              padding:0 5px;
              font-size: 20px;
            }
            &:hover{
              background: #4FD2C2;
              color: #fff;
            }
          }
        }


        .sub-nav{
          width:100%;
          display: none;
          ul{
            width:100%;
            li{
              width:100%;
              height: 50px;
              text-align: center;
              a{
                display:inline-block;
                width:100%;
                height:100%;
                font:400 14px/50px "Microsoft Yahei";
                color: #DCDCDC;

                &:hover{
                  color: #4ED2C4;
                }
              }
            }
            li.on{
              a{
                color: #4ED2C4;
              }
            }
          }
        }
        .sub-nav.active{
          display: block;
        }
      }
      .active .nav-name,.nav-name:hover{

        a{
          background: #4FD2C2;
          color: #fff;
        }
        .menu-icon1{
          background: url("../images/mhover1.png") no-repeat center;
          background-size:35px 35px;
        }
        .menu-icon2{

          background: url("../images/mhover2.png") no-repeat center;
          background-size:35px 35px;
        }
        .menu-icon3{

          background: url("../images/mhover3.png") no-repeat center;
          background-size:35px 35px;
        }
        .menu-icon4{

          background: url("../images/mhover4.png") no-repeat center;
          background-size:35px 35px;
        }
        .menu-icon5{

          background: url("../images/mhover5.png") no-repeat center;
          background-size:35px 35px;
        }
      }
      .active .sub-nav{
        display: block;
      }
    }
  }
}
.small-menu{
  .menu-icon1,  .menu-icon2,  .menu-icon3,  .menu-icon4,  .menu-icon5{
    background-size:50px 50px!important;
  }
   .inner .menu-nav .nav-control .nav-name a span{
     font-size: 35px;
     position: relative;
     top:-2px;
   }
  .logo{
    a{
      .img-big{
        display: none!important;
      }
      .img-small{
        display: block!important;
      }
    }
  }
  .menu-nav{
    height:100%;
  .nav-name{
    a{
      b,i{
        display: none;
      }
    }
  }
    .sub-nav{
      display: none!important;
      overflow: hidden;
    }
  }
}
.main{
  width:100%;
  min-width: 1000px;
  position: relative;
  left:180px;
  background: #F3F3F3;
  .top-info{
    height: 75px;
    background: #333333;
    .same-info{
      width:25%;
      height: 75px;
      line-height: 75px;
      text-align: center;
      span.iconfont{
        font-size: 30px;
        color: #4FD2C2;
        img{
          position: relative;
          top:5px;
        }
      }
      b{
        font-weight: 400;
        font-size: 16px;
        color: #4ABAAC;
      }
      .num,i{
        font-size: 16px;
        color: #4ABAAC;
        font-style: normal;
      }
      .yellow{
        font-weight:bold;
        color: #FBC932;
      }
      .green{
        font-weight:bold;
        color: #8AD726;
      }
      .blue{
        font-weight:bold;
        color: #4DBAF8;
      }
    }
    .person-info{
      width:25%;
      height: 75px;
      line-height: 75px;
      text-align: right;
      padding-right: 40px;
       i{
         font-style: normal;
         font-size: 14px;
         color: #4ABAAC;
       }
      span,a{
        font-weight: 400;
        font-size: 16px;
        color: #4ABAAC;
        font-style: normal;
      }
    }
  }
}
.main-content-wrap{
  width:100%;
  height:100%;
  padding:20px;

}
.main-content{
  width:100%;
  padding:20px;
  background: #fff;
  .search-box{
    form{
      width:100%;
      span{
        font:400 14px/50px "Microsoft Yahei";
        color: #333;
      }
      input{
        outline: 0 none;
        width: 120px;
        height: 30px;
        margin:0 10px;
        border:1px solid #DBDAD9;
        font:400 14px/28px "Arial";
        color: #666;
        padding:0 30px 0 10px;
        background: url("../images/rili.png") no-repeat 95px center;
      }
      button{
        width:85px;
        height: 30px;
        border-radius: 5px;
        background: #4FD2C2;
        color: #fff;
        font-size: 14px;
        outline:  0 none;
        i{
          padding-right:5px;
        }
        &:hover{
          background: #47BDE3;
        }
      }
    }
  }
  .search-info{
    width:100%;
    padding:20px 0;
    .info-txt{
      width: 50%;
      font:400 16px/50px "Microsoft Yahei";
      color: #333;
      span{
        font-size: 22px;
        color: #ff4717;
      }
    }
    .operation{
      width:50%;
      line-height:50px;
      text-align: right;
      a{
        display: inline-block;
        width:85px;
        height: 30px;
        border-radius: 5px;
        background: #4FD2C2;
        color: #fff;
        font-size: 14px;
        outline:  0 none;
        text-align: center;
        line-height: 30px;
        i{
          padding-right:5px;
        }

      }
      .export{
        background: #47BDE3;
      }
    }
  }
  .table-box{
    width:100%;
    /*table*/
    table{
      min-width: 100%;
      border-collapse: collapse;
      th:first-child{
        width:40px;
      }
      td,th{
        border:1px solid #BCDFDA;
      }
      th{
        max-width: 150px;
        font:400 12px/40px "Microsoft Yahei";
        color: #fff;
        background: #4FD2C2;
        input[type="checkbox"]{
          width: 20px;
          height: 20px;
          display: inline-block;
          border-radius: 3px;
          position: relative;
          top:5px;
        }
        .default-show{
          width:100%;
          height:40px;
          i{
            padding-right: 5px;
          }
        }
        .active-show{
          display: none;
          width:100%;
          height:40px;
          .form-control{
            display: inline-block!important;
            margin:5px;
            height:28px;
            border-radius: 3px;
            color: #4fd2c2;
            background: #fff;
            input{
              width:80px;
              height: 28px;
              outline: none;
              float: left;
              padding:0 5px;
              line-height:18px;
              text-align: center;
              color: #4fd2c2;
              background: transparent;
            }

            button{
              float: left;
              outline: none;
              height:28px;
              padding:0 5px;
              line-height: 18px;
              background: transparent;
              i{
                line-height: 18px;
                font-size: 18px;
              }
            }
          }
        }
        select{
          height:40px;
          background: #4FD2C2;
          color: #fff;
          outline: none;
          text-align: center;
          option{
            text-align: center;
          }
        }
        .select{
          width:100%;
          height: 40px;
          position: relative;
          .result{
            width:100%;
            height: 40px;
            font-size: 14px;
            cursor: pointer;
          }
          .select-list{
            display: none;
            position: absolute;
            top:42px;
            left:1%;
            width:98%;
            height:auto;
            border:1px solid #DBDAD9;
            background: #fff;
            ul{
              width:100%;
              li{
                width:100%;
                text-align: center;
                font-size: 14px;
                color: #666;
                height: 30px;
                line-height: 30px;
                cursor: pointer;
                &:hover{
                  background: #EEEEEE;
                }
              }
            }
          }
        }
      }
      td{
        text-align: center;
        font:400 14px/40px "Microsoft Yahei";
        input[type="checkbox"]{
          width: 20px;
          height: 20px;
          display: inline-block;
          border-radius: 3px;
          position: relative;
          top:5px;
        }
        span.iconfont{
          font-size: 20px;
        }
      }
      tbody tr:hover{
        background: #F4FAEE!important;
      }
      tbody tr:nth-child(even){
        background: #EEFAF8;
      }
    }
    /*page*/
    .page-cake{
      width:100%;
      height: 50px;
      margin:20px 0;
      text-align: right;
      font:400 14px/50px "Microsoft Yahei";
      color: #333;

      span{
        padding:0 10px;
        color: #333;
      }
      b{
        font-weight:400;
      }
      a{
        i{
          font-weight:bold;
          color: #ccc;
        }
      }
      input{
        outline: none;
        width: 40px;
        height:30px;
        border:1px solid #DBDAD9;
        text-align: center;
        line-height: 28px;
        border-radius:2px;
      }
      button{
        display: inline-block;
        outline: none;
        width: 45px;
        height: 30px;
        line-height: 30px;
        border-radius: 3px;
        color: #fff;
        background: #4FD2C2;
        &:hover{
          background:#47BDE3;
        }
      }
    }
  }
}
#myModal ,#myModal1{
  .modal-dialog {
    .modal-content{
      border-radius: 6px;
    }
    width: 635px;
    margin: 200px auto 0;
  }
  .modal-header{
    width:100%;
    height: 55px;
    border-bottom:1px solid #D2D2D2;
    background: #F3F3F3;
    text-align: center;
    position: relative;
    padding:0;
    border-radius: 6px 6px 0 0;
    h4{
      width:100%;
      height:100%;
      font:400 24px/55px "Microsoft Yahei";
      color: #666;
    }
    a{
      position: absolute;
      font-size: 25px;
      width:30px;
      height: 30px;
      line-height:30px;
      text-align: center;
      display: block;
      right: 8px;
      top:8px;
      i{
        font-size: 25px;
      }
    }
  }
  .modal-body{
    text-align: center;
    img{
      margin:40px 0;
    }
    p{
      font:400 16px/30px "Microsoft Yahei";
      color: #333;
    }
    button{
      width: 185px;
      height: 55px;
      border-radius: 5px;
      color: #fff;
      background: #4FD2C2;
      text-align: center;
      line-height:55px;
      font-size: 18px;
      margin:50px 0;
    }
  }

}
.on-line{
  color: #4CEA1C;
}

#guanli{
 .info-txt{
   width:100%;
   padding-left: 20px;
   background: #FFFBEF;
   margin-bottom: 20px;
 }
  .operation1{
    width:50%;
    line-height: 50px;
    a{
      display: inline-block;
      width: 120px;
      height: 30px;
      border:1px solid #59D4C5;
      color: #59D4C5;
      text-align: center;
      font-size: 14px;
      line-height:28px;
      border-radius: 3px;
      &:hover{
        color: #fff;
        background: #59D4C5;
      }
    }
  }
}
.check-box{
  position: relative;
  top:5px;
  width:20px;
  height:20px;
  display: inline-block;
  margin:0 auto;
  background: url("../images/check_box.png") no-repeat center;
}
.check-box.checked{
  background: url("../images/check_box_hover.png") no-repeat center;
}

#myModalIn{
  .modal-dialog{
    width: 620px;
    height: 385px;
    margin: 200px auto;
    .modal-header{
      width:100%;
      height: 50px;
      border-bottom:1px solid #D2D2D2;
      background: #F3F3F3;
      text-align: center;
      position: relative;
      padding:0;
      border-radius: 6px 6px 0 0;
      h4{
        width:100%;
        height:100%;
        font:400 24px/50px "Microsoft Yahei";
        color: #666;
      }
      a{
        position: absolute;
        font-size: 25px;
        width:30px;
        height: 30px;
        line-height:30px;
        text-align: center;
        display: block;
        right: 8px;
        top:8px;
        i{
          font-size: 25px;
        }
      }
    }
    .modal-body{
      padding:30px 35px;
   .tip-info{
     font:400 14px/30px "Microsoft Yahei";
     color: #333;
     a{
       color: #05bd8c;
       text-decoration: underline;
       padding:0 10px;
     }
   }
      .operate{
        padding:25px 0;
        width:100%;
        label{
          font:400 14px/30px "Microsoft Yahei";
          color: #333;
          display: block;
          float: left;
        }
        div.choose-result{
          width:264px;
          height: 30px;
          border:1px solid #ccc;
          display: block;
          float: left;
          overflow: hidden;
          padding:0 10px;
        }
        button{
          display: inline-block;
          float: left;
          width:55px;
          height:30px;
          border:1px solid #4fd2c2;
          border-radius: 3px;
          color: #4fd2c2;
          background: #fff;
          margin-left: 10px;
          outline: none;
          &:hover{
            background:#4fd2c2;
            color: #fff;
          }
        }
      }
      .upload-result{
        width:100%;
        .same-result{
          i{
            display: block;
            width:30px;
            height: 30px;
            float: left;
          }
          i.excel{
            background: url("../images/excell.png") no-repeat center center;
          }
          span{
            display: block;
            height: 30px;
            font:400 14px/30px "Microsoft Yahei";
            color: #05bd8c;
            float: left;
            text-decoration: underline;
          }
          .delete{
            display: block;
            float: left;
            width:30px;
            height: 30px;
            background: url("../images/del.png") no-repeat center;
          }
        }
      }
    }
    button.btn-default{
      width: 135px;
      height: 40px;
      border-radius: 5px;
      color: #fff;
      background: #4FD2C2;
      text-align: center;
      line-height:40px;
      font-size: 18px;
      display: block;
      margin:20px auto;
      outline: none;
    }
  }
}

#myModalOut{
  .modal-dialog {
    width: 310px;
    height: 250px;
    margin: 200px auto;
    .modal-header {
      width: 100%;
      height: 35px;
      border-bottom: 1px solid #D2D2D2;
      background: #F3F3F3;
      text-align: center;
      position: relative;
      padding: 0;
      border-radius: 6px 6px 0 0;
      h4 {
        width: 100%;
        height: 100%;
        font: 400 16px/35px "Microsoft Yahei";
        color: #666;
      }
      a {
        position: absolute;
        font-size: 25px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        display: block;
        right: 2px;
        top: 2px;
        i {
          font-size: 25px;
        }
      }
    }
    .modal-body{
      .tip-info{
        text-align: center;
        font:400 14px/30px "Microsoft Yahei";
        color: #333;
      }
      .gray{
        color: #666!important;
      }
    }
    button.btn-default {
      width: 95px;
      height: 30px;
      border-radius: 5px;
      color: #fff;
      background: #4FD2C2;
      text-align: center;
      line-height: 30px;
      font-size: 14px;
      display: block;
      margin: 20px auto;
    }
  }
}

#myModalSet{
  .modal-dialog {
    width: 310px;
    height: 250px;
    margin: 200px auto;
    .modal-header {
      width: 100%;
      height: 35px;
      border-bottom: 1px solid #D2D2D2;
      background: #F3F3F3;
      text-align: center;
      position: relative;
      padding: 0;
      border-radius: 6px 6px 0 0;
      h4 {
        width: 100%;
        height: 100%;
        font: 400 16px/35px "Microsoft Yahei";
        color: #666;
      }
      a {
        position: absolute;
        font-size: 25px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        display: block;
        right: 2px;
        top: 2px;
        i {
          font-size: 25px;
        }
      }
    }
    .modal-body{
      .tip-info{
        text-align: center;
        font:400 14px/30px "Microsoft Yahei";
        color: #333;
        margin:10px 0;
      }
      input{
        width: 80px;
        height: 30px;
        border:1px solid #cbcbcb;
        text-align: center;
        outline: none;
        margin:0 10px;
      }
      .gray{
        color: #666!important;
      }
    }
    button.btn-default {
      width: 95px;
      height: 30px;
      border-radius: 5px;
      color: #fff;
      background: #4FD2C2;
      text-align: center;
      line-height: 30px;
      font-size: 14px;
      display: block;
      margin: 30px auto 20px;
    }
  }
}

#myModalNew{
 .modal-dialog{
   width:800px;
   margin:100px auto;
   .modal-header {
     width: 100%;
     height: 50px;
     border-bottom: 1px solid #D2D2D2;
     background: #F3F3F3;
     text-align: center;
     position: relative;
     padding: 0;
     border-radius: 6px 6px 0 0;
     h4 {
       width: 100%;
       height: 100%;
       font: 400 18px/50px "Microsoft Yahei";
       color: #666;
     }
     a {
       position: absolute;
       font-size: 25px;
       width: 30px;
       height: 30px;
       line-height: 30px;
       text-align: center;
       display: block;
       right: 5px;
       top: 5px;
       i {
         font-size: 25px;
       }
     }
   }
   .modal-body{
     form{
       width:100%;
       padding-left: 20px;
       .form-control{
         width:370px;
         height: 30px;
         margin-bottom: 30px;
         label{
           float: left;
           display: block;
           width:100px;
           font:400 14px/30px "Microsoft Yahei";
           color: #333;
         }
         input,.select{
           display: block;
           float: left;
           width:200px;
           height: 28px;
           border:1px solid #CBCBCB;
           padding:0 5px;
           color: #333;
           font-size: 14px;
           line-height: 28px;
           outline: none;
         }
         .select{
           position: relative;
           .result{
             .icon-jiantou{
               float: right;
             }
           }
           .select-list{
             position:absolute;
             display: none;
             left:-1px;
             top:30px;
             background: #fff;
             width:200px;
             border:1px solid #CBCBCB;
             border-radius: 3px;

             li{
               padding:0 5px;
               cursor: pointer;
               &:hover{
                 background: #F0F0F0;
               }
             }
           }
         }
       }
       button{
         width:138px;
         height: 40px;
         border-radius: 5px;
         color: #fff;
         background: #4FD2C2;
         display: block;
         margin:0 auto 30px;
       }
       .set-btn{
         margin-left: 15px;
         width:35px;
         height: 28px;
         background: url("../images/set_bg.png") no-repeat;
         background-size: 100% 100%;
         position: relative;
         a.set-a{
           width: 100%;
           height: 100%;
           display: block;
         }
         .add-select{
           position: absolute;
           display: none;

           width: 300px;
           left:0;
           top:28px;
           border:1px solid #ECECEC;
           background: #fff;
           border-radius: 3px;
           .add-header{
             width:100%;
             height: 35px;
             border-bottom:1px solid #D2D2D2;
             position: relative;
             line-height: 35px;
             color: #999999;
             padding-left:15px;
             .close{
               width:35px;
               height: 35px;
               line-height: 35px;
               font-size: 20px;
               position: absolute;
               text-align: center;
               top:0;
               right:10px;
               i{
                 font-size: 25px;
                 color: #B6B6B6;
               }
             }
           }
           .add-content{
              ul{
                width:100%;
                padding-left: 15px;
                li{
                  width:100%;
                  font:400 12px/24px "Microsoft Yahei";
                  color: #333;
                }
              }
             .add-control{
               margin:5px 0;
               width:100%;
               padding-left: 15px;
               input{
                 width:190px;
                 height: 28px;
                 border:1px solid #CBCBCB;
                 padding:0 5px;
                 color: #333;
                 font-size: 14px;
                 line-height: 28px;
                 outline: none;
                 float: left;
               }
               .add-btn{
                 display: inline-block;
                 width:30px;
                 height: 30px;
                 margin-left: 10px;
                 float: left;
                 i{
                   font-style: normal;
                   font-size: 28px;
                   line-height: 30px;
                   color: #28BB50;
                 }
               }
               .del-btn{
                 float: left;
                 display: inline-block;
                 width:30px;
                 height: 30px;
                 margin-left: 10px;

                 i{
                   font-size: 20px;
                   line-height: 30px;
                   color: #FF9A23;
                 }
               }
             }
             .new-add-btn{
               margin-top: 10px;
               width: 88px;
               height: 30px;
               border-radius: 3px;
               background: #4ED2C4;
               color: #fff;
             }
           }
         }
       }
     }
   }
 }
}

.order-detail{
  .order-title{
    width: 100%;
    background: #4FD2C2;
    color: #fff;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    padding-left: 30px;
  }
  .order-info{
    background: #FFFBEF;
    height: 170px;
    padding:25px 30px;
    ul{
      width:100%;
      li{
        float: left;
        width:33%;
        height:40px;
        font:400 14px/40px "Microsoft Yahei";
        color: #333;
        span.red{
          color: #ff4717;
          font-weight:bold;
          font-size: 18px;
        }
        span.status1{
          display: inline-block;
          width:40px;
          height: 40px;
          float: left;
          margin-right:5px;
          background: url("../images/status.png") no-repeat left center;
        }
        span.status2{
          display: inline-block;
          width:40px;
          height: 40px;
          float: left;
          margin-right:5px;
          background: url("../images/status2.png") no-repeat left center;
        }
        span.status3{
          display: inline-block;
          width:40px;
          height: 40px;
          float: left;
          margin-right:5px;
          background: url("../images/status3.png") no-repeat left center;
        }
      }
    }
  }
  .goods-info{
    background: #FFEAE9;
    height: 170px;
    padding:25px 0;
    ul{
      width:50%;
      float: left;
      li{
        padding-left: 30px;
        float: left;
        width:50%;
        height:40px;
        font:400 14px/40px "Microsoft Yahei";
        color: #333;
        span.red{
          color: #ff4717;
          font-weight:bold;
          font-size: 18px;
        }
        span.black{
          color: #413f40;
          font-weight:bold;
          font-size: 18px;
        }
        span.pay{
          display: inline-block;
          width:40px;
          height: 40px;
          float: left;
          margin-right:5px;
          background: url("../images/pay.png") no-repeat left center;
        }
      }
    }
    .first-ul{
      border-right:1px dashed #F39490;
    }

  }
  .guest-info{
    background: #F0F9FF;
    padding:25px 0;
    ul{
      width:50%;
      float: left;
      li.ul-title{
        width:100%;
        font-weight:bold;
        font-size: 16px;

      }
      li{
        padding-left: 30px;
        float: left;
        width:50%;
        height:40px;
        font:400 14px/40px "Microsoft Yahei";
        color: #333;
        span.red{
          color: #ff4717;
          font-weight:bold;
        }
        span.pay{
          display: inline-block;
          width:40px;
          height: 40px;
          float: left;
          margin-right:5px;
          background: url("../images/pay.png") no-repeat left center;
        }
      }
    }
    .first-ul{
      border-right:1px dashed #70C2F8;
      .icon{
        display: inline-block;
        width:40px;
        height: 40px;
        float: left;
        margin-right:5px;
        background: url("../images/jijian.png") no-repeat left center;
      }
    }
    .last-ul{
      .icon{
        display: inline-block;
        width:40px;
        height: 40px;
        float: left;
        margin-right:5px;
        background: url("../images/shoujian.png") no-repeat left center;
      }
    }

  }
}


#myModalEditor{
  .modal-dialog {
    width: 530px;
    margin: 200px auto;
    .modal-header {
      width: 100%;
      height: 50px;
      border-bottom: 1px solid #D2D2D2;
      background: #F3F3F3;
      text-align: center;
      position: relative;
      padding: 0;
      border-radius: 6px 6px 0 0;
      h4 {
        width: 100%;
        height: 100%;
        font: 400 16px/50px "Microsoft Yahei";
        color: #666;
      }
      a {
        position: absolute;
        font-size: 25px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        display: block;
        right: 10px;
        top: 10px;
        i {
          font-size: 25px;
        }
      }
    }
    .modal-body{
      .tip-info{
        font:400 14px/30px "Microsoft Yahei";
        color: #333;
        margin:10px 0;
        padding:0 45px;
      }
      input{
        width: 320px;
        height: 30px;
        border:1px solid #cbcbcb;
        text-align: center;
        outline: none;
        margin:0 10px;
      }
      .gray{
        color: #666!important;
      }
    }
    button.btn-default {
      width: 135px;
      height: 40px;
      border-radius: 5px;
      color: #fff;
      background: #4FD2C2;
      text-align: center;
      line-height: 40px;
      font-size: 14px;
      display: block;
      margin: 30px auto 20px;
    }
  }
}
.operation .red{
  color: #ff4717;
  font-size:14px;
}
#myModalAddPerson{
  .modal-dialog {
    width: 680px;
    margin: 200px auto;
    .modal-header {
      width: 100%;
      height: 50px;
      border-bottom: 1px solid #D2D2D2;
      background: #F3F3F3;
      text-align: center;
      position: relative;
      padding: 0;
      border-radius: 6px 6px 0 0;
      h4 {
        width: 100%;
        height: 100%;
        font: 400 16px/50px "Microsoft Yahei";
        color: #666;
      }
      a {
        position: absolute;
        font-size: 25px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        display: block;
        right: 10px;
        top: 10px;
        i {
          font-size: 25px;
        }
      }
    }
    .modal-body{
      table{
        width: 640px;
        margin:30px auto;
        td,th{
          border: 1px solid #CCCCCC;
          height: 35px;
          color: #333;
          text-align: center;
          line-height:35px;
          font-size: 14px;
        }
        th{
          background: #F5F4F3;
          font-weight:400;
        }
        td{
          input{
            width:100%;
            height:100%;
            border:0 none;
            outline: 0 none;
            text-align: center;
          }



        }
        .select{
          width:100%;
          height: 40px;
          position: relative;
          .result{
            width:100%;
            height: 40px;
            font-size: 14px;
            cursor: pointer;
            z-index: 99;
          }
          .select-list{
            z-index: 9999;
            display: none;
            position: absolute;
            top:42px;
            left:1%;
            width:98%;
            height:auto;
            border:1px solid #DBDAD9;
            background: #fff;
            ul{
              width:100%;
              li{
                width:100%;
                text-align: center;
                font-size: 14px;
                color: #666;
                height: 30px;
                line-height: 30px;
                cursor: pointer;
                &:hover{
                  background: #EEEEEE;
                }
              }
            }
          }
        }
        input::-webkit-input-placeholder {
          color:#999;
        }
        input:-moz-placeholder {
          color: #999;
        }


      }
    }
    .add-tr-btn{
      width:640px;
      margin:15px auto;
      button{
        border:1px solid #4FD2C2;
        border-radius: 5px;
        text-align: center;
        background: #fff;
        outline: none;
        width: 95px;
        height: 25px;
        line-height: 23px;
        font-size: 14px;
        color: #4FD2C2;
      }
    }
    .add-info{
      width:640px;
      margin:15px auto;
      text-align: center;
      font-size: 14px;
      color: #999;
    }
    button.btn-default {
      width: 135px;
      height: 40px;
      border-radius: 5px;
      color: #fff;
      background: #4FD2C2;
      text-align: center;
      line-height: 40px;
      font-size: 14px;
      display: block;
      margin: 30px auto 20px;
    }
  }
}

#myModalSet1{
  .modal-dialog {
    width: 380px;
    margin: 200px auto;
    .modal-header {
      width: 100%;
      height: 35px;
      border-bottom: 1px solid #D2D2D2;
      background: #F3F3F3;
      text-align: center;
      position: relative;
      padding: 0;
      border-radius: 6px 6px 0 0;
      h4 {
        width: 100%;
        height: 100%;
        font: 400 16px/35px "Microsoft Yahei";
        color: #666;
      }
      a {
        position: absolute;
        font-size: 25px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        display: block;
        right: 2px;
        top: 2px;
        i {
          font-size: 25px;
        }
      }
    }
    .modal-body{
      .select{
        display: inline-block;
        width:230px;
        height: 34px;
        border: 1px solid #CBCBCB;
        position: relative;
        .result{
          width:230px;
          height: 34px;
          font-size: 14px;
          cursor: pointer;
          z-index: 99;
          text-align:left;
          span{
            padding-left: 20px;
          }
          i{
            float: right;
            margin-right: 10px;
          }
        }
        .select-list{
          z-index: 9999;
          display: none;
          position: absolute;
          top:32px;
          left:0;
          width:100%;
          height:auto;
          border:1px solid #DBDAD9;
          background: #fff;
          ul{
            width:100%;
            li{
              padding-left: 20px;
              width:100%;
              text-align: left;
              font-size: 14px;
              color: #666;
              height: 30px;
              line-height: 30px;
              cursor: pointer;
              &:hover{
                background: #EEEEEE;
              }
            }
          }
        }
      }
      .tip-info{
        text-align: center;
        font:400 14px/30px "Microsoft Yahei";
        color: #333;
        margin:10px 0;
      }
      input{
        width: 80px;
        height: 30px;
        border:1px solid #cbcbcb;
        text-align: center;
        outline: none;
        margin:0 10px;
      }
      .gray{
        color: #666!important;
      }
    }
    button.btn-default {
      width: 95px;
      height: 30px;
      border-radius: 5px;
      color: #fff;
      background: #4FD2C2;
      text-align: center;
      line-height: 30px;
      font-size: 14px;
      display: block;
      margin: 30px auto 20px;
    }
  }
}

.myModalDetail{
  .modal-dialog{
    width:860px;
    margin:50px auto;
    .modal-header {
      width: 100%;
      height: 50px;
      border-bottom: 1px solid #D2D2D2;
      background: #F3F3F3;
      text-align: center;
      position: relative;
      padding: 0;
      border-radius: 6px 6px 0 0;
      h4 {
        width: 100%;
        height: 100%;
        font: 400 18px/50px "Microsoft Yahei";
        color: #666;
      }
      a {
        position: absolute;
        font-size: 25px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        display: block;
        right: 5px;
        top: 5px;
        i {
          font-size: 25px;
        }
      }
    }
    .modal-body{
      form{
        width:100%;
        padding-left: 20px;
        .form-control{
          width:370px;
          height: 30px;
          margin-bottom: 30px;
          label{
            float: left;
            display: block;
            width:100px;
            font:400 14px/30px "Microsoft Yahei";
            color: #333;
          }
          span{
            color: #333;
            font-size: 14px;
            line-height: 28px;
          }
          input,.select{
            display: block;
            float: left;
            width:140px;
            height: 28px;
            border:1px solid #CBCBCB;
            padding:0 5px;
            color: #333;
            font-size: 14px;
            line-height: 28px;
            outline: none;
          }
          .select{
            position: relative;
            .result{
              .icon-jiantou{
                float: right;
              }
            }
            .select-list{
              position:absolute;
              display: none;
              left:-1px;
              top:30px;
              background: #fff;
              width:200px;
              border:1px solid #CBCBCB;
              border-radius: 3px;

              li{
                padding:0 5px;
                cursor: pointer;
                &:hover{
                  background: #F0F0F0;
                }
              }
            }
          }
        }
        .first-floor{
          border-bottom:1px solid #D2D2D2;
          margin-bottom: 30px;
          .form-control{
            width:269px;
          }
        }
        .second-floor{
          border-bottom:1px solid #D2D2D2;
          margin-bottom: 30px;
          .form-control{
            width:400px;
            padding-left:65px;
            .num-input{
              width:80px;
              margin-right: 10px;
              text-align: center;
            }

          }
        }
        .third-floor{
          border-bottom:1px solid #D2D2D2;
          margin-bottom: 30px;
          .form-control{
            width:400px;
            padding-left:65px;
            .num-input{
              width:80px;
              margin-right: 10px;
              text-align: center;
            }
          }
          button{
            width: 60px;
            height: 30px;
            font-size: 14px;
            line-height: 28px;
            float: left;
            margin-left: 10px;
          }
        }
        .detail-info{
          width:100%;
          text-align: center;
          font-size: 14px;
          color: #999;
          margin-bottom: 20px;
        }
        button{
          width:138px;
          height: 40px;
          border-radius: 5px;
          color: #fff;
          background: #4FD2C2;
          display: block;
          margin:0 auto 30px;
        }
        .set-btn{
          margin-left: 15px;
          width:35px;
          height: 28px;
          background: url("../images/set_bg.png") no-repeat;
          background-size: 100% 100%;
          position: relative;
          a.set-a{
            width: 100%;
            height: 100%;
            display: block;
          }
          .add-select{
            position: absolute;
            display: none;

            width: 300px;
            left:0;
            top:28px;
            border:1px solid #ECECEC;
            background: #fff;
            border-radius: 3px;
            .add-header{
              width:100%;
              height: 35px;
              border-bottom:1px solid #D2D2D2;
              position: relative;
              line-height: 35px;
              color: #999999;
              padding-left:15px;
              .close{
                width:35px;
                height: 35px;
                line-height: 35px;
                font-size: 20px;
                position: absolute;
                text-align: center;
                top:0;
                right:10px;
                i{
                  font-size: 25px;
                  color: #B6B6B6;
                }
              }
            }
            .add-content{
              ul{
                width:100%;
                padding-left: 15px;
                li{
                  width:100%;
                  font:400 12px/24px "Microsoft Yahei";
                  color: #333;
                }
              }
              .add-control{
                margin:5px 0;
                width:100%;
                padding-left: 15px;
                input{
                  width:190px;
                  height: 28px;
                  border:1px solid #CBCBCB;
                  padding:0 5px;
                  color: #333;
                  font-size: 14px;
                  line-height: 28px;
                  outline: none;
                  float: left;
                }
                .add-btn{
                  display: inline-block;
                  width:30px;
                  height: 30px;
                  margin-left: 10px;
                  float: left;
                  i{
                    font-style: normal;
                    font-size: 28px;
                    line-height: 30px;
                    color: #28BB50;
                  }
                }
                .del-btn{
                  float: left;
                  display: inline-block;
                  width:30px;
                  height: 30px;
                  margin-left: 10px;

                  i{
                    font-size: 20px;
                    line-height: 30px;
                    color: #FF9A23;
                  }
                }
              }
              .new-add-btn{
                margin-top: 10px;
                width: 88px;
                height: 30px;
                border-radius: 3px;
                background: #4ED2C4;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}


.waiter{
  .check-box{
   background-size:75% 75%;
  }
  .modal-dialog{
    width:770px;
    margin:50px auto;
    .modal-header {
      width: 100%;
      height: 50px;
      border-bottom: 1px solid #D2D2D2;
      background: #F3F3F3;
      text-align: center;
      position: relative;
      padding: 0;
      border-radius: 6px 6px 0 0;
      h4 {
        width: 100%;
        height: 100%;
        font: 400 18px/50px "Microsoft Yahei";
        color: #666;
      }
      a {
        position: absolute;
        font-size: 25px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        display: block;
        right: 5px;
        top: 5px;
        i {
          font-size: 25px;
        }
      }
    }
    .modal-body{
      padding:0 30px;
      form{
        padding-top: 20px;
        width:100%;
        .form-control{
          width:350px;
          height: 30px;
          margin-bottom: 20px;
          label{
            float: left;
            display: block;
            width:100px;
            font:400 14px/30px "Microsoft Yahei";
            color: #333;
          }
          span{
            color: #333;
            font-size: 14px;
            line-height: 28px;
          }
          input,.select{
            cursor: pointer;
            display: block;
            float: left;
            width:140px;
            height: 28px;
            border:1px solid #CBCBCB;
            padding:0 5px;
            color: #333;
            font-size: 14px;
            line-height: 28px;
            outline: none;
          }
          .select{
            cursor: pointer;
            position: relative;
            .result{
              .icon-jiantou{
                float: right;
              }
            }
            .select-list{
              cursor: pointer;
              position:absolute;
              display: none;
              left:-1px;
              top:30px;
              background: #fff;
              width:200px;
              border:1px solid #CBCBCB;
              border-radius: 3px;

              li{
                padding:0 5px;
                cursor: pointer;
                &:hover{
                  background: #F0F0F0;
                }
              }
            }
          }
        }
        .select{
          cursor: pointer;
          position: relative;
          .result{
            z-index: 99;
            span{

            }
            .icon-jiantou{
            }
          }
          .select-list{
            cursor: pointer;
            position:absolute;
            display: none;
            left:-1px;
            top:30px;
            background: #fff;
            width:100%;
            border:1px solid #CBCBCB;
            border-radius: 3px;
            z-index: 999;

            li{
              padding:0 5px;
              height: 30px;
              line-height: 30px;
              cursor: pointer;
              &:hover{
                background: #F0F0F0;
              }
            }
          }
        }
        .detail-info{
          width:100%;
          text-align: center;
          font-size: 14px;
          color: #999;
          margin-bottom: 20px;
        }
        button{
          width:138px;
          height: 40px;
          border-radius: 5px;
          color: #fff;
          background: #4FD2C2;
          display: block;
          margin:0 auto 30px;
        }
        .set-btn{
          margin-left: 15px;
          width:35px;
          height: 28px;
          background: url("../images/set_bg.png") no-repeat;
          background-size: 100% 100%;
          position: relative;
          a.set-a{
            width: 100%;
            height: 100%;
            display: block;
          }
          .add-select{
            cursor: pointer;
            position: absolute;
            display: none;

            width: 300px;
            left:0;
            top:28px;
            border:1px solid #ECECEC;
            background: #fff;
            border-radius: 3px;
            .add-header{
              width:100%;
              height: 35px;
              border-bottom:1px solid #D2D2D2;
              position: relative;
              line-height: 35px;
              color: #999999;
              padding-left:15px;
              .close{
                width:35px;
                height: 35px;
                line-height: 35px;
                font-size: 20px;
                position: absolute;
                text-align: center;
                top:0;
                right:10px;
                i{
                  font-size: 25px;
                  color: #B6B6B6;
                }
              }
            }
            .add-content{
              ul{
                width:100%;
                padding-left: 15px;
                li{
                  width:100%;
                  font:400 12px/24px "Microsoft Yahei";
                  color: #333;
                }
              }
              .add-control{
                margin:5px 0;
                width:100%;
                padding-left: 15px;
                input{
                  width:190px;
                  height: 28px;
                  border:1px solid #CBCBCB;
                  padding:0 5px;
                  color: #333;
                  font-size: 14px;
                  line-height: 28px;
                  outline: none;
                  float: left;
                }
                .add-btn{
                  display: inline-block;
                  width:30px;
                  height: 30px;
                  margin-left: 10px;
                  float: left;
                  i{
                    font-style: normal;
                    font-size: 28px;
                    line-height: 30px;
                    color: #28BB50;
                  }
                }
                .del-btn{
                  float: left;
                  display: inline-block;
                  width:30px;
                  height: 30px;
                  margin-left: 10px;

                  i{
                    font-size: 20px;
                    line-height: 30px;
                    color: #FF9A23;
                  }
                }
              }
              .new-add-btn{
                margin-top: 10px;
                width: 88px;
                height: 30px;
                border-radius: 3px;
                background: #4ED2C4;
                color: #fff;
              }
            }
          }
        }
        .table-box{
          width:100%;
          border-top:1px solid #D2D2D2;
          padding:20px 0;
          .table-info{
            font-size: 16px;
            color: #333;
            font-weight: 600;
          }
          .table-operate{
            width:100%;
            padding:20px 0 0;
            .left{
              width:50%;
              font:400 14px/30px "Microsoft Yahei";
              color: #333;
              .select{
                cursor: pointer;
                margin-left: 10px;
                width:145px;
                height: 30px;
                border:1px solid #CBCBCB;
                text-align: center;
                .result{
                  text-align: left;
                  span{
                    padding-left: 15px;
                  }
                  i{
                    float: right;
                    margin-right: 15px;
                  }
                }
                .select-list{
                  cursor: pointer;
                  display: none;
                  text-align: left;
                  li{
                    padding-left: 15px;
                  }
                }
              }
              button{
                width: 58px;
                height: 30px;
                margin-left: 10px;
                border-radius: 3px;
              }
            }
            .right{
              width:50%;
              a{
                width: 110px;
                height: 30px;
                border:1px solid #4FD2C2;
                color: #4FD2C2;
                text-align: center;
                line-height: 28px;
                font-size: 14px;
                display: block;
                float: right;
                border-radius: 3px;
                &:hover{
                  background: #4FD2C2;
                  color: #fff;
                }
              }
            }
          }
          .table-content{
            width:100%;
            table{
              width:100%;
              th,td{
                border:1px solid #ccc;
                font-weight:400;
                color: #333;
                height: 35px;
                font-size: 14px;
                text-align: center;

              }
              th{
                background: #F5F4F3;
              }
            }
          }
        }
      }
    }
  }
}

#myModalHistory{
  .modal-dialog {
    width: 500px;
    margin: 200px auto;
    .modal-header {
      width: 100%;
      height: 35px;
      border-bottom: 1px solid #D2D2D2;
      background: #F3F3F3;
      text-align: center;
      position: relative;
      padding: 0;
      border-radius: 6px 6px 0 0;
      h4 {
        width: 100%;
        height: 100%;
        font: 400 16px/35px "Microsoft Yahei";
        color: #666;
      }
      a {
        position: absolute;
        font-size: 25px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        display: block;
        right: 2px;
        top: 2px;
        i {
          font-size: 25px;
        }
      }
    }
    .modal-body{
       .same-history{
         width:100%;
         padding: 10px 0;
         border-bottom:1px solid #C0C0C0;
         &:last-child{
           border-bottom: none;
         }
         span{
           font:400 14px/30px "Microsoft Yahei";
           color: #333;
         }
         i{
           display: inline-block;
           width:30px;
           height: 20px;
           background: url("../images/zhuanhuan.png") no-repeat center bottom;
         }
       }
    }

  }
}
.order-detail-page{
  width:1200px;
  margin:0 auto;
  float: none!important;
  display: block!important;
  .main-content-wrap{
    padding-top: 0;
  }
  .order-detail{
    padding-top: 0;
  }
}

.select-more{
  cursor: pointer;
  width:100%;
  height:35px;
  position: relative;
  .result-more{
    cursor: pointer;
    width:100%;
    height:40px;
    text-align: center;
    font-size:14px;
    color: #333;
    z-index: 1;
  }
  .select-list-more{
    display: none;
    position: absolute;
    width:100%;
    min-width: 190px;
    min-height: 40px;
    height:auto;
    background: #fff;
    border:1px solid #DBDAD9;
    top:40px;
    left:0;
    z-index: 9;
    ul{
      li{
        text-align: left;
        min-height:35px;
        span{
          float: left;
          display: inline-block;
          height: 35px;
        }
        a{
          float: right;
        }
        i{
          float: left;
          display: inline-block;
          width:35px;
          height: 35px;
          background: url("../images/right_icon.png") no-repeat center;
        }
        .active i{
          background: url("../images/top_icon.png") no-repeat center;
        }
        .active dd{
          display:block!important;
        }
        .select{
          height: 30px!important;
        }
        .select .check-box-small{
          background: url("../images/small_check_1.png") no-repeat center;
        }
      }
      li.total-control{
        padding-left: 35px;
      }
      dl{
        dt{
          overflow: hidden;
          span{
            cursor: pointer;
          }
        }
        dt:hover{
          background: #F0F0F0;
        }
        dd{
          width:100%;
          display: none;
          cursor: pointer;
          padding-left: 35px;
          height:30px;
          line-height: 30px;
          overflow: hidden;
          span,a,i{
            height:30px!important;
            line-height: 30px;
          }
        }
        dd:hover{
          background: #F0F0F0;
        }
      }
    }
  }
}
.check-box-small{
  display: inline-block;
  width:35px;
  height: 35px;
  background: url("../images/small_check_0.png") no-repeat center ;
}
.checked .check-box-small{
  background: url("../images/small_check_1.png") no-repeat center!important;
}
.to-gray {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}
.detail-table-page{
  position: static;
  width: 98%!important;
  margin:0 auto;
  background: #fff;
}
.detail-table-page .main-content-wrap{
  padding:0!important;
}
.detail-table-page .main-content{
  padding:0!important;
}
